.post {
  margin: 0;
  padding: 1rem;
}

.content {
  display: block;
}

.content h2 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1rem;
  color: white;
  line-height: 1.5;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer p {
  font-style: italic;
  color: white;
  font-size: 0.8rem;
  margin-top: 31px;
  margin-bottom: 0px;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}

.icon {
  font-size: 15px;
}
