.comments {
  text-align: center;
  border-top: 2px solid rgb(255, 255, 255, 0.5);
}

.comments h1 {
  text-align: center;
  color: white;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
}
